<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UIAutotestJava">
    <test name="Test way2automation and sql-ex pages">
        <classes>
            <class name="tests.way2automation.HomePageMainElementsTests"/>
            <class name="tests.way2automation.LoginPageTests"/>
            <class name="tests.way2automation.AuthorizationTests"/>
            <class name="tests.sqlex.MainPageTests"/>
        </classes>
    </test>
</suite>